<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="phpunit_bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>../src/Configurator</directory>
    </include>
    <report>
      <html outputDirectory="../tmp/coverage" lowUpperBound="35" highLowerBound="70"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <php>
    </php>
  <testsuites>
    <testsuite name="Configurator Test Suite">
      <directory>../test/Configurator/Tests/</directory>
      <exclude>*/BaseTestCase.php</exclude>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
